.clear{clear:both;display:block;font-size:0;height:0;line-height:0;width:100%;}

.ph-main-video-section .row{margin-bottom:25px;}
.ph-main-video-section .row .ph-video-section{float:left;width:240px;}
.ph-main-video-section .row .ph-video-section.mid{margin:0 20px;}
.ph-main-video-section .row .ph-video-section .ph-video{float:left;width:105px;position:relative;}
.ph-main-video-section .row .ph-video-section .ph-video .yt-img-clip{
    position: absolute;
   clip:rect(0px, 105px, 101px, 0px);}

.ph-main-video-section .row .ph-video-section .ph-info{float:right;width:130px;}
.ph-main-video-section .row .ph-video-section .ph-info h4{font-size:13px;font-weight:normal;line-height:14px;margin-bottom:5px;}