body,html {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    /* border-radius: 10px; */
    background-color: #111;
}

iframe { 
    width: 100%; 
    height: 100vh;
    border: none; 
}

.titlebar {
    z-index: 1;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    background-color: transparent;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 20px;
  }

  img.close{
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .hiddendiv {
    position: fixed;
    height: 90vh;
    width: 250px;
    z-index: 0;
    top: 40px;
    left: 0px;
    background-color: #000;
  }

  .sidenav {
    height: 50%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 10px;
    background-color: #ffffff00;
    overflow-x: hidden;
    padding-top: 20px;
    font-family: sans-serif;
    text-shadow: 0 0 4px rgba(0,0,0,.5);
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #eee;
    display: block;
    transition: color .1s cubic-bezier(0.0,0.0,0.2,1);
  }
  
  .sidenav a:hover {
    color: #fff;
  }
  
  ::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 12px;
    width: 8px;
    height: 10px;
    transition: background-color .1s cubic-bezier(0.0,0.0,0.2,1);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.hide { display:none; }